h1,h2,h3,h4,h5,h6,p,body,ul,li{
    margin: 0;
    padding: 0;
    font:inherit;
}
ul,li{
    list-style: none;
}
*{
    box-sizing: border-box; /* invert padding*/
}
:root{
    --starbucks-green:#006241;
    --medium-gray:rgb(0,0,0,.58);
}

body{
    background-color: yellow;
}
.overlay{
    background-color:var(--starbucks-green);
    width: 100vw;
    height: 100vh;
    position:fixed;
    top: 0;
    left:-100vw;
    z-index:1000;
    transition-property: all;
    transition-duration: .25s;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 2rem;

}

.overlay.active{
    left:0;
    transition-duration:1s;
}

h1{
    font-size: 36px;
    color: var(--starbucks-green);  
}

.logo{
    width:100px;
    height:100px;
    margin-bottom: 2rem;
    position: relative;
    left: -1rem;
    opacity: 0;
    transition-property: all;
    transition-delay: .25s;
    transition-duration: .5s;
}

.mobile-nav{
    background-color:transparent;
    padding:1rem;
}
.mobile-nav a {
    font-family: arial;
    font-size: 2rem;
    font-weight: bold;
    color: white;
    display: block;
    padding: 1rem 0;
    text-decoration: none;
}
.mobile-nav ul li{
    position: relative;
    left: -1rem;
    opacity: 0;
    transition-property: all;
    transition-duration: .5s;
}

/* transition delay on overlay */
.overlay.active .mobile-nav ul li{
    opacity: 1;
    left: 0;
}
.overlay.active .mobile-nav ul li:nth-child(1){
    transition-delay: 1s;
}
.overlay.active .mobile-nav ul li:nth-child(2){
    transition-delay: 1.4s;
}
.overlay.active .mobile-nav ul li:nth-child(3){
    transition-delay: 1.8s;
}
.overlay.active .logo{
    left: 0;
    opacity: 1;
}


.btn-ui{
    background-color: transparent;
    border: 0;
    padding: 1rem;
}
.btn-ui svg{
    width:3rem;
    height:3rem;
    fill: var(--medium-gray);
}

#closeBtn{
    position:absolute;
    top:1rem;
    right:1rem;
    background-color: transparent;
    border: 1px solid white;
}
#closeBtn svg{
    fill: white;
}

